* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::selection {
  color: white;
  background-color: #1182eb;
}

body {
  background-color: rgb(255, 246, 232);
  max-width: 1400px;
  margin: auto;
}

header {
  text-align: center;
  height: 80px;
  padding: 40px;
  color: rgb(69, 45, 83);
}

header h1 {
  font-size: 40px;
  text-decoration: underline 40px;
  letter-spacing: 5px;
}
header p {
  color: aliceblue;
  font-weight: bold;
}

/* #king-and-queen {
  display: flex;
  justify-content: center;
}

#the-kids {
  display: flex;
  justify-content: space-around;
}

#extra {
  display: flex;
  justify-content: center;
} */

.card {
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin: 2rem;
  width: 300px;
  height: auto;
  background-color: white;
  color: midnightblue;
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}

/* .card p,
li {
  text-align: left;
} */

.card img {
  margin: 10px;
  min-height: 300px;
  border-radius: 100px 100px 0 0;
  filter: grayscale(100%);
  border: 20px solid rgb(247, 247, 153);
}

.card:hover img {
  filter: grayscale(0);
}

.card:hover {
  opacity: 1;
  color: #482d64;
  box-shadow: 5px 5px 5px 5px lightgray;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 30px;
  text-decoration: none;
}

#penelope-list {
  list-style-type: none;
}

li:hover {
  color: cornflowerblue;
}

span {
  font-size: 1.5em;
  color: #b48ce0;
}

img {
  width: 75%;
  height: auto;
}

.kids-seperator {
  display: flex;
  justify-content: space-around;
  margin: -30px 0;
}

.line {
  height: 80px;
  width: 1px;
  background-color: gray;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
